<form class="card container">
  <h1 style="margin: auto; margin-top: 2%">Create procedure</h1>
  <div style="margin: 2% 19% 2% 19%">
    <mat-form-field class="container">
        <input matInput placeholder="Scheme to store the procedure">
      </mat-form-field>
    <mat-form-field class="container">
      <input matInput placeholder="Prefix">
    </mat-form-field>
    <mat-form-field class="container">
      <mat-select  placeholder="Operation">
        <mat-option value="Create">Create</mat-option>
        <mat-option value="Modify">Modify</mat-option>
        <mat-option value="Delete">Delete</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button mat-button style="margin: auto;margin-bottom: 2%">Crear</button>
</form>