<form class="card container" style="height: 84%; width: 27%">
    <h1 style="margin: auto; margin-top: 20%;">Login</h1>
    <div class="form-group">
      <mat-form-field class="container">
        <input [(ngModel)]="server" id="server" matInput placeholder="Server" >
      </mat-form-field>
      <mat-form-field class="container">
          <input [(ngModel)]="port" id="port" matInput type="number" placeholder="Port">
        </mat-form-field>
      <mat-form-field class="container">
          <input [(ngModel)]="databaseName" id="databaseName" matInput placeholder="Database">
        </mat-form-field>
      <mat-form-field class="container">
        <input [(ngModel)]="user" id="user" matInput placeholder="User">
      </mat-form-field>
      <mat-form-field class="container">
        <input [(ngModel)]="password" id="password" matInput placeholder="Password">
      </mat-form-field>
    </div>
    <button mat-button style="margin: auto;margin-bottom: 20%">Enter</button>
  </form>