<nav *ngIf="_auth.getUser()" class="shadow navbar text-white mb-5">
  <a class="navbar-brand" href="/">Proyecto1BD2</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a [routerLink]="['/home']" class="nav-item nav-link active" routerLinkActive="active-link" href="#">Home</a>
      <a class="nav-item nav-link" (click)="openCreateSchema()">Schemas</a>
    </div>
  </div>
  <button mat-raised-button [routerLink]="['/login']" (click)="_auth.logout()"><mat-icon>subdirectory_arrow_left</mat-icon></button>
</nav>
<router-outlet></router-outlet>
