<nav class="shadow navbar navbar-light bg-blue mb-5">
  <a class="navbar-brand" href="/">Proyecto1BD2</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a [routerLink]="['/home']" class="nav-item nav-link active" routerLinkActive="active-link" href="#">Home</a>
      <a [routerLink]="['/proc']" class="nav-item nav-link" href="#">Schemas</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
      <a class="nav-item nav-link" href="/" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<!-- <app-create-procedure></app-create-procedure> -->
