<ul style="width: 100%" *ngIf="_tableService.extractedTables.length !== 0; else progressbar">
  <li class="card table shadow-sm p-3 mb-3 bg-white rounded text-center" *ngFor="let t of _tableService.extractedTables; let i = index">
    <ul id="header-ul">
      <li class="header-li text-primary"><h3><span class="text-danger">{{t.TABLE_SCHEMA}}</span>.{{t.TABLE_NAME}}</h3></li>
      <li style="margin-left: 50%" class="header-li"><mat-checkbox #check (click)="selectOrDeselectTable(check, i)"></mat-checkbox></li>
    </ul>
    <hr>
    <ul *ngFor="let c of t.COLUMN_NAME">
      <li class="text-left text-secondary">{{c}}</li>
    </ul>
  </li>
</ul>
<div class="fab-container">
  <button color="white" [disabled]="disabled" mat-fab class="fab-toggler"
          (click)="openExecDialog()">
    <i class="material-icons">done</i> <!-- Animation here -->
  </button>
</div>
  

<ng-template #progressbar>
  <div id="loading" class="container">
    <h2 class="text-center text-primary">Loading</h2>
    <mat-progress-bar style="background-color: white" mode="indeterminate"></mat-progress-bar>
  </div>
</ng-template>