<div class="container text-center" *ngIf="!schemaService.loading; else progressbar">
  <h3 style="color: purple" class="text-center">Create Schema</h3>
  <hr>
  <mat-form-field>
    <input #schema matInput placeholder="Schema Name" type="text">
  </mat-form-field>
  <div class="container text-center">
    <button mat-button (click)="onSubmit(schema.value)"><mat-icon>send</mat-icon></button>
  </div>
</div>
<ng-template #progressbar>
  <div id="loading" class="container">
    <h2 class="text-center text-primary">Loading</h2>
    <mat-progress-bar style="background-color: white" mode="indeterminate"></mat-progress-bar>
  </div>
</ng-template>