#done {
    border: 1px solid #007bff;
    margin: 1%
}
mat-form-field{
    width: 90%
}
#main-dialog-container {
    padding-bottom: 2%;
}
.option-center {
    text-align: center
}
.option-left{
    text-align: left
}
.actions-container{
    text-align: right;
    margin: auto;
    margin-right: 0;
    width: 60%
}